h1{
    text-align: center;
}
button{
    width: 150px;
    border-color: aqua;
    border-radius: 10px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}